<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    
    <section class="category-grid">
        <p class="intro-text">Browse our projects by category:</p>
        
        <ul class="category-list">
            <% categories.forEach(category => { %>
                <li class="category-card">    
                    <div class="category-info">
                        <strong>
                            <a href="/category/<%= category.category_id %>">
                                <%= category.category_name %>
                            </a>
                        </strong>
                    </div>
                </li>
            <% }); %>
        </ul>
    </section>
</main>

<%- include('partials/footer') %>