<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p>Here are a few of our partner organizations:</p>
    
    <ul class="org-list">
        <% organizations.forEach(organization => { %>
            <li class="org-card">
                <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
                
                <div class="org-info">
                    <strong>
                        <a href="/organization/<%= organization.organization_id %>">
                            <%= organization.name %>
                        </a>
                    </strong>
                    <p><%= organization.contact_email %></p>
                    <p><a href="/edit-organization/<%= organization.organization_id %>" class="edit-link">Edit</a></p>
                </div>
            </li>
        <% }); %>
    </ul>

    <p><a href="/new-organization" class="button-link">Add a new organization</a></p>
</main>

<%- include('partials/footer') %>